.mix-container {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
