.navbar {
  background-color: #040707;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  filter: invert(100%) brightness(100) contrast(100%);
}

.beat-logo {
  height: 40px;
}

.navbar-nav .nav-link:hover {
  color: #00bfff !important;
}

.navbar-nav .nav-link.active {
  color: #00bfff !important;
}

.navbar-toggler:hover {
  border-color: #00bfff !important;
  background-color: rgba(0, 191, 255, 0.2);
}

.navbar-toggler-icon {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(175deg)
    brightness(100%) contrast(100%);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: white !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link[aria-current="page"] {
  color: #00bfff !important;
  font-weight: bold;
}
